<div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-info">
        <div class="panel-heading text-center">
            <h1>{{vm.resultsData.data.Title}}</h1></div>
        <div class="panel-body">
            <div class="text-center">
                <img ng-src="{{vm.resultsData.data.Poster}}">
            </div>
            <br>
            <h5><strong>Actors: </strong></h5>
            <p>{{vm.resultsData.data.Actors}}</p>
            <h5><strong>Directed by: </strong></h5>
            <p>{{vm.resultsData.data.Director}}</p>
            <h5><strong>Plot: </strong></h5>
            <p>{{vm.resultsData.data.Plot}}</p>
            <h5><strong>Runtime: </strong></h5>
            <p>{{vm.resultsData.data.Runtime}}</p>
            <div>
            </div>
        </div>
    </div>
</div>
